body {
	background-color: #232323;
	margin: 0;
	font-family: "Avenir", "Montserrat";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.5s;
}

#container {
	margin: 20px auto;		/* '20px' for top and bottom, 'auto' for left and right*/
	max-width: 600px;
}

h1 {
	text-align: center;
	line-height: 1.1;
	font-weight: normal;
	color: white;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay {
	font-size: 200%;
}

#message {
	display: inline-block;		/*creates a little space for span & the width below increases that space to 20% of the stripe*/
	width: 20%;		/*of the screen, the stripe actually which goes all the way to both the ends of the screen*/
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

.selected {
	color: white;
	background: steelblue;
}

button {
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	/*transition takes two values(arguments), 1st is to select what we want to transition & 2nd is the time(in seconds)*/
	transition: all 0.3s;
	outline: none;
}

button:hover {
	color: white;
	background: steelblue;
}